.link:link,
.link:active,
.link:visited,
.link:hover {
  display: block;
  padding: 1rem;
  margin: 0.4rem;
  text-decoration: none;
  color: #333;
  text-align: center;
  max-width: 10rem;
}

.link:hover {
  color: rgb(59, 168, 202);
}

.icon {
  font-size: 2rem;
  margin: 0 0 0.4rem 0;
}

.label {
  font-size: 1.2rem;
}
